/* About.css */

.about-container {
    padding: 2rem;
    background: #fcd008;
  }
  
  .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .about-text {
    max-width: 600px;
  }
  
  .about-text h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  
  .about-text h3 {
    font-size: 1.8rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  
  .about-text p {
    font-size: 1.4rem;
    line-height: 1.6;
  }
  
  .about-image img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
  }
 
  .about-text h2 {
    text-align: center;
  }

  .about-image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  @media(max-width:800px){

  }