/* Contact.css */

.contact-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
}

.contact-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.contact-info {
  margin-bottom: 40px;
}

.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.icon {
  font-size: 20px;
  margin-right: 10px;
}

.social-media {
  margin-bottom: 40px;
}

.social-icons {
  display: flex;
}

.icon {
  font-size: 24px;
  margin-right: 10px;
}

.instagram {
  color: #bc2a8d;
}

.facebook {
  color: #3b5998;
}

.twitter {
  color: #1da1f2;
}

.contact-form {
  margin-top: 40px;
}

.contact-container input[type='text'],
.contact-container input[type='email'],
.contact-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-container button {
  padding: 10px 20px;
  background-color: #4aad4a;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-container button:hover {
  background-color: #368c36;
}
