.carousel-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fcd008;
}
.carousel-container {
    width: 100%;
    max-width: 800px;
    margin-bottom: 100px;
    text-align: center;
  }
  
  .carousel-heading {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .carousel {
    display: flex;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-inner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .carousel-item {
    flex: 0 0 auto;
    padding: 0 10px;
  }
  
  .carousel-item img {
    max-width: 100%;
    height: auto;
  }
  