.menu-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-container {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 50%;
  margin-top: 20px;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tabs button {
  background-color: #f0f0f0;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 5px;
  font-size: 16px;
  color: #444;
  transition: background-color 0.3s;
}

.tabs button.active {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
}

.menu-item {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.menu-item h3 {
  margin: 0 0 10px 0;
  font-size: 20px;
  color: #333;
}

.menu-item p {
  margin: 0;
  color: #666;
}

.price {
  margin-top: 10px;
  font-weight: bold;
  font-size: 18px;
  color: #222;
}

@media(max-width:900px){
    .menu-container{
      width: 95%;
    }
}